.slider__item{
  width: 1250px;
  height: 250px;
}
.slider__item img{
  width: 1250px;
  height: 250px;
}
.list__box{
  width: 1250px;
  height: 250px;
}
.slider__list{
  margin: 20px 0;
  list-style: none;
  display: flex;
  overflow-x: scroll;

}
.header__img{
  width: 50px;
  height: 50px;
}
.slider-btns{
  position: absolute;
  display: flex;
  bottom: 20%;
  left: 10%;
}
.slider{
  position: relative;
}
.slider-btn{
  width: 60px;
  height: 6px;
  background-color: rgba(255, 255, 255, 0.687);
  margin-right: 16px;
  cursor: pointer;
}
.mystyle{
  transform: translateX(-1250px);
}

.search__heading{
  width: 110px;
  height: 34px;
  margin: 40px 0 13px 0;
}
.search__box{
  width: 1114px;
  height: 170px;
  margin: 0 auto;
  background: #191919;
  box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  transform: translateY(-30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.category{
  margin-top: 10px;
}
.search__input{
  width: 700px;
  height: 50px;
  background: #404040;
  border-radius: 15px;
  color: rgba(255, 255, 255, 0.3);
  border: none;
  padding: 0 12px;
  margin-right: 16px;
  outline: none !important;
}
.search__form{
  display: flex;
  align-items: center;
}
.category-box{
  display: flex;
  align-items: center;
  justify-content: center;
}
.category-btn{
  font-size: 20px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 40px;
}
.category-btn:focus{
  color:  #C9AC8C;
}
.authors__item{
  width: 175px !important;
  background: linear-gradient(209.09deg, #191919 -1.68%, #212121 135.36%);
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 15px;
  margin: 21px;
  text-decoration: none;
  color: #fff;
}
.autors__list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 70px;
}
.authors-title{
  font-family: 'Steinbeck';
  font-size: 20px;
  line-height: 20px;
  color: #C9AC8C;
  margin-top: 12px;
  margin-bottom: 8px;
  text-align: center;
  text-decoration: none;
}
.imgbox{
  overflow: hidden;
  border-radius: 15px;
  width: 100%;
  height: 180px;
}
.imgbox img{
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
}
.authors__item:hover .imgbox img{
  transform: scale(1.3);
}
.authors__desc{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 18px;
  background-image: url('../images/autor-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.desc__inner{
  display: flex;
  margin-bottom: 24px;
}
.author__year{
  font-size: 12px;
  line-height: 12px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 12px;
}
.author__icon{
  width: 20px;
  height: 18px;
  margin-right: 8px;
}
.author__par{
  display: flex;
  align-items: center;
  font-family: 'Steinbeck';
  text-decoration: none;
}
.author__par-r{
  margin-right: 34px;
}
.author__inner{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.inner__desc{
  width: 55%;
}
.author__img{
  width: 40%;
  height: 500px;
}
.author__title{
  font-weight: 400;
  font-size: 48px;
  line-height: 53px;
  margin-bottom: 20px;
  color: #C9AC8C;
  font-family: 'Steinbeck';
}
.author__text{
  line-height: 144.4%;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
}
.list__link{
  text-decoration: none;
}
.sign{
  display: flex;
  margin-top: -100px;
  height: 101vh;
}
.sign__imgbox{
  width: 50%;
  background-color: #c8ac8c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign__desc{
  background-color: #fff;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sign__title{
  font-weight: 900;
  font-size: 36px;
  line-height: 51px;
  color: #000;
  margin-bottom: 10px;
}
.sign__text{
  font-size: 13px;
  line-height: 15px;
  color: #000;
  margin-bottom: 20px;
}
.sign__input{
  width: 330px;
  height: 46px;
  border: 1px solid #b4b4bb;
  border-radius: 10px;
  font-size: 14px;
  line-height: 16px;
  color: #aaa;
  margin-bottom: 17px;
  outline: none;
  padding: 0 12px;
}
.sign__btn{
  width: 330px;
  height: 46px;
  cursor: pointer;
  border: none;
  background-color: #152540;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: #fff;
  margin: 17px 0;
  border-radius: 99px;
}
.sign__form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.books{
  margin-top: 30px;
}
.books__title{
  font-size: 40px;
  line-height: 34px;
  color: #C9AC8C;
  font-family: 'Steinbeck';
  margin-bottom: 30px;
}
.book__img{
  width: 160px;
  height: 220px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.books__list{
  list-style: none;
  display: flex;
  align-items: center;
}
.book__item{
 margin-right: 15px;
}
.book__name{
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color: #C9AC8C;
}
.book__div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px;
  color: rgba(255, 255, 255, 0.6);
}
.asarlar__inner{
  display: flex;
  margin-top: 30px;
}
.asarlar__imgbox{
  width: 40%;
}
.asarlar__imgbox img{
  width: 100%;
  height: 100%;
}
.asarlar__desc{
  width: 55%;
  padding: 20px 40px;
}
.asar__title{
  font-weight: 400;
  font-size: 48px;
  line-height: 53px;
  color: #C9AC8C;
  margin-bottom: 14px;
}
.book-author{
  color: #C9AC8C;
  margin-bottom: 40px;
}
.asarlar__par{
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
}
.asarlar__par span{
  margin-left: 6px;
  color: #fff;
}
.asarlar__text{
  font-weight: 400;
  font-size: 16px;
  line-height: 144.4%;
  color: rgba(255, 255, 255, 0.8);
}
.profile__img{
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-bottom: 30px;
}
.profile__header{
  display: flex;
  margin-top: 30px;
}
.profile__imgbox{
  margin-right: 60px;
}
.profile__p{
  font-family: 'Steinbeck';
  font-size: 22px;
  line-height: 144.4%;
  color: #C9AC8C;
  text-align: center;
  margin-bottom: 6px;
}
.profile__par{
  text-align: center;
  font-family: 'Steinbeck';
}
.profile__title{
  font-family: 'Steinbeck';
  font-size: 32px;
  line-height: 144.4%;
  color: #C9AC8C;
  margin-bottom: 10px;
}
.profile__text{
  font-family: 'Steinbeck';
  font-size: 22px;
  color: #FFFFFF;
  margin-bottom: 6px;
}
.profile__text span{
  color: rgba(255, 255, 255, 0.6);
  margin-left: 15px;
}
.category__heading{
  font-family: 'Rotterburg Stylish FREE';
  font-size: 31px;
  line-height: 34px;
  color: #C9AC8C;
  text-align: center;
  margin-bottom: 30px;
}
.books__item{
  margin-top: 20px;
  width: 250px;
}
.dropdown{
  border-radius: 6px;
}
.header__btns{
  padding: 6px 12px;
  text-decoration: none;
  color: #fff;
}
.header__part{
  display: flex;
  align-items: center;
}
.edit__header{
  margin-top: 30px;
  display: flex;
}
.add-btn{
  cursor: pointer;
  padding: 16px 32px;
  background: #C9AC8C;
  border: none;
  margin: 30px 20px;
}
.book__tilte{
  margin-top: 30px;
  font-size: 30px;
}
.saved__list{
  list-style: none;
}