body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Steinbeck';
  src: url('./fonts/SteinbeckFC-Reg.woff2') format('woff2'),
      url('./fonts/SteinbeckFC-Reg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Steinbeck';
  src: url('./fonts/SteinbeckFC-Gras.woff2') format('woff2'),
      url('./fonts/SteinbeckFC-Gras.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'Steinbeck', sans-serif;
  font-family: serif;
  background-color: #191919;
  overflow-x: hidden;
  height: 100vh;
}

